/* Reset some basic elements */
body, h1, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:black;
    color: white;
}

header .logo img {
    width: 150px;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Hero section styles */
.hero {
    height: 100vh;
    background: url('bckgrd2.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    
    color: white;
    text-align: center;
   

}
.hero-content {
    max-width: 600px;
    transform: translateY(50px);
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    margin: 20px 0;
    font-size: 1.2rem;
}
nav li:hover a {
    color:aqua;
    text-decoration: underline;
}



/* Footer styles */
footer {
    background-color:black;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.cta-button:hover{
    border: 3px yellowgreen;
}