
body {
    color:azure;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color:black;
    color: white;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

nav li:hover a {
    color:aqua;
    text-decoration: underline;
}

main {
    padding: 20px;
}

.team {
    text-align: center;
}

.team h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}

.team-member {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    max-width: 250px;
    text-align: center;
}

.team-member img {
    width: 100%;
    border-radius: 50%;
}

.team-member h2 {
    font-size: 24px;
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}